<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>

  <div class="field">
    <%= form.label :age %>
    <%= form.text_field :age %>
  </div>

  <div class="field">
    <%= form.label :gender %>
    <%= form.select :gender, options_for_select(User::GENDER, user.gender), include_blank: true %>
  </div>

  <div class="field">
    <%= form.label :county %>
    <%= form.text_field :address, name: 'user[address][county]' %>
  </div>

  <div class="field">
    <%= form.label :address_1 %>
    <%= form.text_field :address, name: 'user[address][address_1]' %>
  </div>

  <div class="field">
    <%= form.label :address_2 %>
    <%= form.text_field :address, name: 'user[address][address_2]' %>
  </div>

  <div class="field">
    <%= form.label :address_2 %>
    <%= form.text_field :address, name: 'user[address][aaa]' %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
